.git
.gitignore
.env
.env.backup
.env.docker
.env.production
.dockerignore
docker-compose.yml
Makefile
README.md
node_modules
vendor
public/build
storage/pail
*.log
.DS_Store
.idea
.vscode
.cursor
.zed
.nova
phpunit.xml
.phpunit.cache
.phpunit.result.cache
